/** import de polices **/
@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
  background: url(https://media.giphy.com/media/gGrLR11aNTwad41Qip/source.gif); /** le background est un gif **/
  color: rgb(250, 253, 247); /** couleur du texte par défaut **/
  font-family: 'Nunito', cursive; /** font téléchargée de google **/
  
  /** permet de centrer les éléments dans la page **/
  display: flex; 
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px; /** éloigne tout ce que entoure le gif de 40 pixels **/
  border: 1px solid yellow;/** créer un cadre jaune d'un pixel d'épaisseur autour des gifs **/
  padding: 10px; /** éloigne le cadre du gif de 10 pixels **/
  height: 40vh; 
  width: auto;
}

/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}
/** Tailles des textes **/  
h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}
  
/** boutons **/
.btn {
	background-color:#ffffff; 
	border-radius:28px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#018BFA;
	font-family:Nunito;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  transition: 0.4s; /** ici, fait une transition pour passer le fond du bouton de la couleur blanche à jaune progressivement **/
}
.btn:hover { /** au survol de la souris, le fond du bouton devient jaune **/
	background-color:#fff671;
}
.btn:active { /** attribue les propriétés suivantes au bouton quand on clique dessus **/
	position:relative;
	top:1px; /** descend le bouton d'un pixel quand on clique dessus **/
}

/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center; /** centre le cntenu du bouton **/
}
.btn{
  margin: 15px; 
}
  
/** Animation des textes contenus dans les balises h1 et h2 **/
h1,
h2 {
  animation-name: fade-in; /** appel de l'animation pour les balises h1 et h2 **/
  animation-duration: 1s; /** durée de l'animation **/
}
  
/** faire clignotter le sous titre, l'animation tourne en boucle pour le contenu des balises h2 **/ 
h2 {
  animation-iteration-count: infinite;
}
  
@keyframes fade-in { /** animation utilisée pour les balises h1 et h2 **/
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
.signature{
  background-color: #222;
  /** les padding permettent d'agrandir la taille du bouton de signature **/
  padding-top: 10px; 
  padding-bottom: 10px;
  padding-left : 20px;
  padding-right: 20px;
  position : fixed; /**permet (par rapport à la fenêtre du ''navigateur'' et non la page web) de garder le contenu de la balise ayant cette classe à la même position indépendamment du scrolling de la page**/
  top:0px;
  box-shadow: 5px 5px 15px 5px #000000;
  right:20px;
  width:150px;
  /** border radius permet d'arrondir les bords du bouton de signature, ici les coins gauche et droit du bas **/
  border-bottom-right-radius:6px ;
  border-bottom-left-radius:6px;
}
.signature a{ /**permet d'appliquer une couleur à un lien <a>**/
  font-family: Arial, Helvetica, sans-serif;
  color:#f0f0f0;
  text-decoration: none; /** permet d'enlever la couleur bleue et le soulignage du lien **/
  font-size:10px;
}

