/** import de polices **/
@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
  background: url(https://media.giphy.com/media/gGrLR11aNTwad41Qip/source.gif); /** le background est un gif **/
  color: rgb(250, 253, 247); /** couleur du texte par défaut **/
  font-family: 'Nunito', cursive; /** font téléchargée de google **/
  
  /** permet de centrer les éléments dans la page **/
  display: flex; 
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 1px solid yellow;
  padding: 10px;
  height: 40vh;
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}
  
  
h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}
  
  
/** boutons **/
.btn {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#018BFA;
	font-family:Nunito;
	font-size:25px;
	padding:16px 31px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  transition: 0.4s;
}
.btn:hover {
	background-color:#fff671;
}
.btn:active {
	position:relative;
	top:1px;
}




  
  
/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}
.btn{
  margin: 15px;
}
  
  
  
/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}
  
/** faire clignotter le sous titre **/ 
h2 {
  animation-iteration-count: infinite;
}
  
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
/** une animation de très bon goût **/
.yeah{
  animation: yeah 2s ease-out;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}
.signature{
  background-color: #222;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left : 20px;
  padding-right: 20px;
  position : fixed; /**permet (par rapport à la fenêtre du navigateur et non la page web entière) de garder le contenu de la balise ayant cette classe à la même position indépendemment du scrolling de la page**/
  top:0px;
  box-shadow: 5px 5px 15px 5px #000000;
  right:20px;
  width:150px;
  border-bottom-right-radius:6px ;
  border-bottom-left-radius:6px;
}
.signature a{ /**permet d'appliquer une couleur à un lien <a>**/
  font-family: Arial, Helvetica, sans-serif;
  color:#f0f0f0;
  text-decoration: none;
  font-size:10px;
}

.anim {
  Animation-name : fade ;
  Animation-delay : 1s;
  Animation-duration : 2s;
  Animation-iteration-count : infinite;
}

@keyframes fade {
  From {
    Opacity : 1;
  }
  To {
    Opacity : 0;
  }
}